.member-form
  %h1 新規会員登録
  .new_member
    = form_for @member, url: step2_signup_index_path, method: :get do |f|
      .new_member__field
        .new_member__field--left
          = f.label :name, "名前", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :name, class: "member-form__name member-form__input", placeholder: "名前を入力してください"

      .new_member__field.clearfix
        .new_member__field--left
          = f.label :tel, "電話番号", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :tel, class: "member-form__tel member-form__input", placeholder: "電話番号を入力してください"

      .new_member__field.clearfix
        .new_member__field--left
          = f.label :birthday, "誕生日", class: 'member-form__label'
        .new_member__field--right
          = f.date_select :birthday, class: "member-form__birthday member-form__input", use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)

      .new_member__field.clearfix
        .new_member__field--left
          = f.label :postcode, "郵便番号", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :postcode, class: "member-form__postcode member-form__input", placeholder: "郵便番号を入力してください"

      .new_member__field.clearfix
        .new_member__field--left
          = f.label :city, "都道府県", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :city, class: "member-form__city member-form__input", placeholder:"都道府県を入力してください"
      
      .new_member__field.clearfix
        .new_member__field--left
          = f.label :block, "市町村", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :block, class: "member-form__block member-form__input", placeholder:"市町村を入力してください"

      .new_member__field.clearfix
        .new_member__field--left
          = f.label :building, "番地", class: 'member-form__label'
        .new_member__field--right
          = f.text_field :building, class: "member-form__building member-form__input", placeholder:"番地を入力してください"
      
      .new_member__field.clearfix
        .new_member__field--left
        .new_member__field--right
          = f.submit "次の項目へ", class: "member-form__action-btn"